@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url(blog.css);
@import url(info.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #81258A;
    
}

.fondo{
    width: 80%;
    height: 80%;
    padding: 20px;
  background: white;
  display: block;
}

.banner img{
    width: 60%;
    height: 380px;
    margin:10px auto;
    display:block;
   
 }
 @media (min-width:480px){
       .banner img{
        width: 90%;
        height: auto;
       }
 }
 @media(min-width:768px){
    .banner img{
        width: 70%;
        height: auto;
       }
    .sociales{
        width: auto;
    }
    footer .contenedor{
        justify-content: space-between;
    }
}
 @media(min-width:1024px){
    .banner img{
        width: 60%;
    height: auto;
    
       }
    .contenedor{
        width: 1000px;
    }
}







header{
    
    width: 100%;
    height: 50px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
        
}

.contenedor{
    widows: 98%;
    margin: auto;
    
}

.logo{
    width: 250px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1{
    float: left;
}

header .contenedor{
    display: table;
}

section{
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos{
    text-align: center;
    
}

footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
footer label{
    color: red;
}

footer #iconos{
    color: orange;
    font-size: 13px;
}
.copy{
    font-size: 13px;
}

.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a{
    color:#333;
    text-decoration: none;
}



