@import url(fuentes.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.gallery div{
    margin: 0 auto;
    display: block;
}

.titulo{
    color: #802785;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
    
}
.volver{
    text-align: center;
}

.volver a{
    text-decoration: none;
    color: #666666;
    font-family: Nunito;
    font-size: 20px;
    margin: 0 auto;

}



