*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #8FC4EB;
}

.section1{
    width: 98%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    }
.insignia{
        width: 70px;
       height: 70px;
    }
    
 .ib{
        width: 70px;
        height: 70px;
    }

    .section2 img{
        padding: 10px;
        margin: 0 auto;
        display: block;
        width: 750px;
        height: 560px;
    
    }
    .menu{
        padding-top: 30px;
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

.section1 div{
    padding: 20px;
}

.section2{
    margin-top: -120px;
    
}


@media (min-width:320px){
    .section2 img{
        padding-top: 90px;
          width: 430px;
          height: 400px;
      }
      .menu div {
          margin-top: 0px;
          padding: 10px;
          display: flex;
          
      }
      .link1{
          width: 110px;
          height: 55px;
      }
      .link2{
          width: 120px;
          height: 55px;
      }
       .link3 {
          width: 130px;
          height: 55px;
      }
      .link4 {
        width: 170px;
        height: 55px;
    }
    
    

}
@media(min-width:768px){
    .section2 img{
        padding-top: 40px;
          width: 630px;
          height: 540px;
      }


}

@media(min-width:1024px){
    .section2 img{
        padding-top: 0px;
        width: 750px;
        height: 560px;
    
    }
    
    .menu div {
        margin-top: -30px;
        padding: 5px;
        display: flex;
       
    }
    .link1{
    
        width: 150px;
        height: 70px;
    }
    .link2{
        
        width: 200px;
        height: 70px;
    }
    .link3{
        
        width: 200px;
        height: 70px;
    }
    .link4{
        
        width: 250px;
        height: 70px;
    }
    
    

}