*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #ffffff;
    overflow: hidden;
}

.section1{
    width: 98%;
    padding: 0px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    
}
.gallery div{
    margin: 0 auto;
    display: block;
}
.section1 div{
    padding: 20px;
}

.insignia{
    width: 70px;
   height: 70px;
}

.lema{
    width: 550px;
    height: 60px;
}
.ib{
    width: 70px;
    height: 70px;
}

.section2{
    margin-top: -30px;
}

.section2 img{
    margin: 0 auto;
    display: block;
    width: 320px;
    height: 350px;

}
.menu{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}
.menu div{
padding-top: 20px;
width: auto;
height: auto;
}
.pintor{
    flex-wrap:wrap; 
    text-decoration: none;
    
}
.link{
    
    width: 80px;
    height: 85px;
}

 .diploma {
    width: 110px;
    height: 1550x;

}