*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #ffffff;
    overflow: hidden;
}

.section1{
    width: 98%;
    padding: 0px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    
}
.gallery div{
    margin: 0 auto;
    display: block;
}
.section1 div{
    padding: 20px;
}

.section2{
    margin-top: -30px;
}

.section2 img{
    margin: 0 auto;
    display: block;
    width: 320px;
    height: 350px;

}
.menu{
    
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}


.titulo{
    color: #802785;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
    
}
.volver{
    text-align: center;
}
.volver a{
    text-decoration: none;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 auto;

}
.link{
    
    width: 90px;
    height: 95px;
}

 .diploma {
    width: 130px;
    height: auto;

}

@media (min-width:320px){
    body{
        overflow: visible;
        width: 100%;
        height: 100%;
    }
    .section2 img{
        padding-top: 10px;
        margin: 0 auto;
        display: block;
        width: 220px;
        height: 250px;
    
    }
   
    .insignia{
        width: 30px;
       height: 30px;
    }
    
    .lema{
        width: 200px;
        height: 25px;
    }
    .ib{
        width: 30px;
        height: 30px;
    }
    .menu {
        display: block;
       
    }
    .menu div {
        padding: 10px;
        text-align: center;
       
    }

}
@media(min-width:768px){
   

    .insignia{
        width: 60px;
       height: 60px;
    }
    
    .lema{
        width: 350px;
        height: 40px;
    }
    .ib{
        width: 50px;
        height: 50px;
    }
    .menu{
        display: flex;
    }
}

@media(min-width:1024px){
    .section2 img{
        padding: 10px;
        margin: 0 auto;
        display: block;
        width: 420px;
        height: 450px;
    
    }
    .insignia{
        width: 70px;
       height: 70px;
    }
    
    .lema{
        width: 450px;
        height: 50px;
    }
    .ib{
        width: 70px;
        height: 70px;
    }
    .menu div {
        padding: 5px;
        display: flex;
       
    }
    
    

}