*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face{
    font-family: "thanks";
    src: url("../font/Thankyou.ttf");
    
}
@font-face{
    font-family: "Nunito";
    src: url("../font/Nunito.ttf");

}

body{
    background-color: #FFFFB9;
background-image: linear-gradient(62deg, #FFFFB9 0%, #F7CE68 100%);


    
    overflow: hidden;
}

.section1{
    width: 98%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    }
.gallery div{
    margin: 0 auto;
    display: block;
}
.section1 div{
    padding: 20px;
}

.section2{
    margin-top: -120px;
    
}

.section2 img{
    margin: 0 auto;
    display: block;
   

}
.menu{
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
 

.section3{
    margin-top: -20px;
}
.section3 div p{
    
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: "Nunito";
    font-size: 33px;
}

@media (min-width:320px){
    body{
        overflow: visible;
        width: 100%;
        height: 100%;
    }
    .section2 img{
        padding-top: 10px;
        margin: 0 auto;
        display: block;
        width: 220px;
        height: 250px;
    
    }
   
    .insignia{
        width: 30px;
       height: 30px;
    }
    
    .lema{
        width: 200px;
        height: 25px;
    }
    .ib{
        width: 30px;
        height: 30px;
    }
    .menu {
        display: block;
       
    }
    .menu div {
        padding: 10px;
        text-align: center;
       
    }

}
@media(min-width:768px){
   

    .insignia{
        width: 60px;
       height: 60px;
    }
    
    .lema{
        width: 350px;
        height: 40px;
    }
    .ib{
        width: 50px;
        height: 50px;
    }
    .menu{
        display: flex;
    }
}

@media(min-width:1024px){
    .section2 img{
        padding: 10px;
        margin: 0 auto;
        display: block;
        width: 720px;
        height: 150px;
    
    }
    .insignia{
        width: 120px;
       height: 90px;
    }
    
    .lema{
        width: 450px;
        height: 50px;
    }
    .ib{
        width: 130px;
        height: 90px;
    }
    .menu div {
        margin-top: -30px;
        padding: 5px;
        display: flex;
       
    }
    .cuerpo{
        
        width: 1300px;
        margin: 0 auto;
        display: flex;
    }
    .cuerpo p {
        padding: 20px;
        width: 1000px;
        margin: 0 auto;
        font-size: 18px;
        text-align: justify;

    }
    .cuerpo img{
        margin: 0 auto;
        width: 200px;
        height: 180px;
    }
    .link1{
    
        width: 180px;
        height: 170px;
    }
    .link2{
        margin-top: -90px;
        width: 600px;
        height: 300px;
    }
    .link3{
        
        width: 200px;
        height: 170px;
    }

    .footer div p{
        margin: 0 auto;
        display: block;
    }

    .footer div{
        width: 80%;
        background-color: #ECFAFF;
        margin: 0 auto;
        box-shadow: 0px 0px 5px 1px blue;
        

    }
    .p1{
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
        
    }
    .p2{
        text-align: center;
    }
    
    

}