*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face{
    font-family: "thanks";
    src: url("../font/Thankyou.ttf");
    
}
@font-face{
    font-family: "Nunito";
    src: url("../font/Nunito.ttf");

}

body{
    background: rgb(66,147,212);
background: radial-gradient(circle, rgba(66,147,212,1) 0%, rgba(18,68,140,1) 100%);
    overflow: hidden;
}

.section1{
    width: 98%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    }
.gallery div{
    margin: 0 auto;
    display: block;
}
.section1 div{
    padding: 20px;
}

.section2{
    margin-top: -120px;
    
}

.section2 img{
    margin: 0 auto;
    display: block;
   

}
.menu{
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.menu_letras{
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.menu_letras a{

    text-decoration: none;
    color: #F4A61D;
    font-family:  'Thanks';
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
   
}


.return{
    padding-top: 10px;
    text-align: center;
}

.return a{
    text-decoration: none;
    color: #666666;
    font-family: "Nunito";
    font-size: 20px;
    margin: 0 auto;
}

.link1{
    
    width: 140px;
    height: 80px;
}

.link{
    
    width: 140px;
    height: 80px;
}

 .diploma {
    width: 210px;
    height: 80px;

}

.pyp img{
    margin: 0 auto;
    display: block;
    width: 700px;
    height: 500px;
    padding-bottom: 1px;

}
.section3{
    margin-top: -20px;
}
.section3 div p{
    
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: "Nunito";
    font-size: 33px;
}

@media (min-width:320px){
    body{
        overflow: visible;
        width: 100%;
        height: 100%;
    }
    .section2 img{
        padding-top: 10px;
        margin: 0 auto;
        display: block;
        width: 220px;
        height: 250px;
    
    }
   
    .insignia{
        width: 30px;
       height: 30px;
    }
    
    .lema{
        width: 200px;
        height: 25px;
    }
    .ib{
        width: 30px;
        height: 30px;
    }
    .menu {
        display: block;
       
    }
    .menu div {
        padding: 10px;
        text-align: center;
       
    }

}
@media(min-width:768px){
   

    .insignia{
        width: 60px;
       height: 60px;
    }
    
    .lema{
        width: 350px;
        height: 40px;
    }
    .ib{
        width: 50px;
        height: 50px;
    }
    .menu{
        display: flex;
    }
}

@media(min-width:1024px){
    .section2 img{
        padding: 10px;
        margin: 0 auto;
        display: block;
        width: 730px;
        height: 560px;
    
    }
    .insignia{
        width: 70px;
       height: 70px;
    }
    
    .lema{
        width: 450px;
        height: 50px;
    }
    .ib{
        width: 70px;
        height: 70px;
    }
    .menu div {
        margin-top: -30px;
        padding: 5px;
        display: flex;
       
    }
    
    

}