
.gallery div{
    margin: 0 auto;
    display: block;
}

.titulo{
    color: #802785;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
    
}
.volver{
    text-align: center;
}

.volver a{
    text-decoration: none;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 auto;

}

.logodiploma img{
    margin: 0 auto;
    display: block;
    width: 520px;
    height: 350px;
    padding-bottom: 1px;

}
.logodiploma div p{
    width: 70%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: "Nunito";
    font-size: 14px;
}
